:root {
    
    /* Cores Principais */
    --base-color: #5926BB;

    /* Cores Principais Mais Escuras  */
    --base-color-purple-dark: #5020AA;

    /* Cores gradiente */
    --gradient-first-color: #B826BB;
    --gradient-second-color: #8B26BB;
    /* A terceira cor é a base */

    /* Cores Claras */
    --curve-color: #8461c1;
    --second-benefits: #a7a7a7;
    /* Cores Fontes */
    --text-color: #404040;

}

@font-face {
    font-family: "Nunito", sans-serif;
    src: url(../public/assets/font/Nunito-Italic-VariableFont_wght.ttf) format('truetype');
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Nunito" !important;
}

.navbar {
    height: 10vh;
    padding: 0 !important;
    background-color: transparent !important;
}

.container {
    height: 100%;
}

.nav-item a:not(.here):hover {
    color: var(--base-color-purple-dark) !important;
}

.here {
    color: var(--base-color) !important;
}

.title {
    color: black !important
}

.subtitle {
    color: var(--text-color) !important;
}

li .cadastrar-button {
    width: 10vw !important;
    box-shadow: 0px 0px 15px -3px var(--base-color) !important;
}

.cadastrar-button, .saiba-mais-button {
    /* background-color: white !important; */
    color: white !important;
    /* position: relative; */
    border: 0 !important;
    border-radius: 0.375rem;
    background-color: var(--base-color) !important;
}

.cadastrar-button:hover, .saiba-mais-button:hover {
    background: var(--base-color-purple-dark) !important;
    transition: 300ms;
    color: white !important;
}

.container-fluid .cadastrar-button, .container-fluid .saiba-mais-button {
    height: 7vh !important;
}

.saiba-mais-button {
    background-color: white !important;
    border: 2px solid var(--base-color) !important;
    color: black !important;
}

/* Diagonal */
.first-benefit {
    background-color: var(--curve-color);
    margin-top: 20vh !important;
}

.others-benefits {
    background-color: var(--second-benefits);
}
.curve {
    fill: var(--curve-color);
}

/* Fim Diagonal */

/* Início Carrosel */
.carrossel {
    margin-top: 20vh !important;
}
.images-carrossel {
    width: 90%;
}
.others-images-carrossel {
    cursor: pointer;
    width: 60%;
    transition: width 300ms;
}

.others-images-carrossel:hover {
    width: 70%;
}

