:root {

    /* Cores Principais */
    --base-color: #5926BB;
    /* Cores Principais Mais Escuras  */
    --base-color-purple-dark: #431a8e;
    --second-background: #39147c;
    --third-background: #240b52;
    /* Cores gradiente */
    --gradient-first-color: #B826BB;
    --gradient-second-color: #8B26BB;
    /* A terceira cor é a base */
    /* Cores Claras */
    --benefits-color: #411A8C;
    /* Cores Fontes */
    --text-color: #404040;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--third-background)
}

::-webkit-scrollbar-thumb {
    background: var(--base-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--base-color-purple-dark);
}

* {
    margin: 0;
    padding: 0;
}

button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* Remover linhas brancas entre cada curva */
.svg-img {
    margin-top: -5px;
    margin-bottom: -5px;
}

@font-face {
    font-family: "Nunito", sans-serif;
    src: url(../public/assets/font/Nunito-Italic-VariableFont_wght.ttf) format('truetype');
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Nunito" !important;
}

.background .container-fluid{
    height: 85vh !important;
}

.background, .background-carrossel {
    position: relative;
}

.background-carrossel {
    position: relative;
    overflow: hidden;
}

.navbar {
    height: 10vh;
    padding: 0 !important;
    background-color: transparent !important;
}

.navbar .container a {
    height: 100%;
}

.navbar-lateral-button {
    width: 60% !important;
    height: 7vh;
}

/* Fim Navbar */
/* Inicio */
.container {
    height: 100%;
}

.nav-item a:not(.here):hover {
    color: var(--base-color-purple-dark) !important;
}

.bg-container {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.bg-container img {
    width: 100vw;
}

.here {
    color: var(--base-color) !important;
}

.subtitle {
    color: var(--text-color) !important;
}

li .cadastrar-button {
    box-shadow: 0px 0px 15px -3px var(--base-color) !important;
}

@media (max-width: 1000px) {

    .cadastrar-button:not(.nav-item .cadastrar-button),
    .saiba-mais-button {
        width: 45vw !important;
        margin-top: 10px !important;
    }
}

@media (min-width: 1001px) {
    .nav-item .cadastrar-button {
        width: 10vw !important;
    }

    .cadastrar-button,
    .saiba-mais-button {
        width: 15vw !important;
    }
}

.cadastrar-button,
.saiba-mais-button {
    color: white !important;
    border: 0 !important;
    border-radius: 0.375rem;
    background-color: var(--base-color) !important;
}

.cadastrar-button:hover,
.saiba-mais-button:hover {
    background: var(--base-color-purple-dark) !important;
    transition: 300ms;
    color: white !important;
}

.container-fluid .cadastrar-button,
.container-fluid .saiba-mais-button {
    height: 7vh !important;
}

.saiba-mais-button {
    background-color: white !important;
    border: 2px solid var(--base-color) !important;
    color: black !important;
}

/* Fim Início */
/* Benefícios */
.benefits {
    background-color: var(--benefits-color);
}

@media (max-width: 1000px) {
    .benefits {
        height: 40vh;
    }
}
/* Fim Benefícios */

/* Início Carrosel */
.background-carrossel {
    background-color: var(--second-background);
}

.carrossel-first-container {
    height: 85vh;
}

.carrossel-container-fluid {
    position: relative;
}

@media (max-width: 1000px) {

    ul.carrossel-list li.carrossel-item:not(:nth-child(2)) {
        display: none !important;
        width: 100% !important;
    }
}

img.images-carrossel {
    width: 100%;
}

div.carrossel-container {
    position: relative;
}

ul.carrossel-list {
    list-style: none;
    padding: 0;
    row-gap: 10vh;
    position: absolute;
}

ul.carrossel-list li {
    transition: all 1s ease-out;
}

ul.carrossel-list li:nth-child(1) {
}

ul.carrossel-list li:nth-child(2) {
    width: 100%;
    opacity: 1;
}

ul.carrossel-list li:nth-child(3) {
}

ul.carrossel-list li:not(:nth-child(2)) {
    width: 99%;
    cursor: pointer;
    opacity: 0.4;
}

ul.carrossel-list li:not(:nth-child(2)):hover {
    opacity: 1;
}

/* Último Background */

.last-benefits .container-fluid {
    background-color: var(--third-background);
}


/* Revelar Home */

.reveal {
    position: relative;
    transform: translateY(130px);
    opacity: 0;
    transition: all 2s ease;
}

.active {
    transform: translateY(0px);
    opacity: 1;
}