* {
    margin: 0;
    border: 0 !important;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(45deg, #8b26bb 25%, #7223ac 50%, #5a1f9c 75%, #411a8c 100%);
    background-repeat: no-repeat;
    background-size: 200% 200%;
    animation: animation-body 3s ease infinite;
    width: 100vw;
    height: 100vh;
}

.arrow {
    margin-left: 1rem;
}

@media (max-width: 1000px) {
    main.container {
        width: 80% !important;
    }
}

main.container {
    background-color: white;
    width: 40%;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.432);
    border-radius: 8px;
}

.coelho {
    height: 50%;
    margin-bottom: 3%;
}

.coelho img {
    width: 20%;
}

.title {
    text-align: center;
    margin-bottom: 3%;
}

.linha {
    width: 80%;
    background-color: black;
    height: 1px;
    margin-bottom: 5%;
}

.container-input {
    width: 100%;
}

.campo-de-input {
    position: relative;
    width: 80%;
}

.campo-de-input input {
    outline: none;
    font-size: 0.9rem;
}

.campo-de-input input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"]{
    margin-top: 10px;
    border-radius: 0.375rem;
    background-color: rgb(255, 255, 255) !important;
    border: 2px solid rgb(67,26,142) !important;
    color: black !important;
    font-weight: 600 !important;
}

form{
    display: flex;
    flex-direction: column;
}
form input[type="submit"]:hover{
    background:  rgb(67,26,142) !important;
    transition: 300ms;
    color: white !important;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footer .campos-sociais {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
}

.campo-de-input .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgb(90, 79, 79);
}

.campo-de-input .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to right, blue, rgb(154, 154, 241));
    transform: scaleX(0);
    transition: all .3s ease;
}

.campo-de-input input:focus~.underline::after {
    transform: scaleX(1);
}


.footer .campos-sociais a {
    text-decoration: none;
    color: white;
}

.footer .campos-sociais a i {
    margin: 0 0.5rem;
    width: 15px;
}

.linkedn {
    background: linear-gradient(to right, blue, rgb(154, 154, 241));
    width: 65%;
    border-radius: 5px;
    margin-left: 3rem;
}

.facebook {
    margin-top: 0.2rem;
    background: linear-gradient(to right, rgb(1, 1, 161), blue);
    border-radius: 5px;
    width: 65%;
    margin-left: 3rem;
}

@keyframes animation-body {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}