:root {
    --base-color: #5926bb;
    --base-color-dark: #2D135E;
/*     --base-color-dark: #484352;*/
    --button-hover-color: #5020aa;
    --grad-second-color: #8e1fd1;
    --grad-third-color: #2d1fd1;
    --text-color: #404040
}

@font-face {
    font-family: "Nunito", sans-serif;
    src: url(../public/assets/font/Nunito-Italic-VariableFont_wght.ttf) format('truetype');
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Nunito" !important;
}

.navbar {
    height: 10vh;
    padding: 0 !important;
}

.container {
    height: 100%;
}

.nav-item a:not(.here):hover {
    color: var(--button-hover-color) !important;
}

.here {
    color: var(--base-color) !important;
}

.line {
    width: 98%;
    /*height: 1vh;*/
    height: 0.5vh;
    background-image: linear-gradient(to right,
    var(--grad-second-color) 0%,
    var(--base-color) 50%,
    var(--grad-third-color) 100%);
}

.title {
    background-image: linear-gradient(
    to right,
    var(--grad-second-color) 0%,
    var(--base-color) 50%,
    var(--grad-third-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    color: var(--text-color);
}

li .cadastrar-button {
    width: 10vw !important;
    box-shadow: 0px 0px 15px -3px var(--base-color) !important;
}

.cadastrar-button {
    /* background-color: white !important; */
    color: white !important;
    /* position: relative; */
    border: 0 !important;
    border-radius: 0.375rem;
    background-color: var(--base-color) !important;
}

/* .cadastrar-button::before {

    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: black;
    width: calc(100% + 4px) !important;
    height: calc(100% + 4px) !important;
    z-index: -1;
    border-radius: 0.375rem;
    background-image: linear-gradient(
        to right,
        var(--grad-second-color) 0%,
        var(--base-color) 50%,
        var(--grad-third-color) 100%);
} */

.cadastrar-button:hover {
    background: var(--button-hover-color) !important;
    /* background: transparent !important; */
    transition: 300ms;
}

.container-fluid .cadastrar-button {
    height: 7vh !important;
}

/* Diagonal */
.diagonal {
    /* transform: skewY(-2deg); */
    background-color: var(--base-color-dark);
    width: 100vw;
    height: 400px;
}

.curve {
    fill: var(--base-color-dark);
}

/* Fim Diagonal */

/* Início Card */
div.card.d-flex {
    border: 1px solid var(--base-color) !important;
}